# fly.toml app configuration file generated for gol-app on 2026-01-28T23:11:38Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gol-app'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  interval = '10s'
  timeout = '2s'
  grace_period = '5s'
  path = '/health'
  protocol = "http"
  method = "get"
  tls_skip_verify = false

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
