name: CD

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  migrations:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: ./migrations
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: |
          docker build -f ./Dockerfile -t migrations .
      
      - name: Run Migrations
        run: |
          docker run --rm -e DB_URL=$DB_URL migrations
        env:
          DB_URL: ${{ secrets.DB_URL }}

  backend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./backend
    strategy:
      fail-fast: false

    needs: migrations

    steps:
      - uses: actions/checkout@v6

      - uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy to Fly
        run: flyctl deploy --remote-only -e VERSION=$VERSION -e DEBUG=false
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          VERSION: ${{ github.event.release.tag_name }}
